.button {
    all: unset;
    padding: 0 0.5em;
    height: 50px;
    margin: 0.5em;

    border-radius: 7px;

    font-size: large;
    font-weight: 500;

    transition: all 0.3s ease;
}

.button:hover {
    outline: 1px solid rgba(74, 240, 113, 0.782);
    color: rgba(74, 240, 113, 0.889);
}