.article_container {
    height: 140px;
    margin-bottom: 26px;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    
}

.article_container section {
    word-wrap: break-word;
    
}

img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

h1 {
    margin-top: 15px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
    word-wrap: break-word;
    
    
}

.article_container a, a:active {
    text-decoration: none;
    color: #1890FF;
}

.article_container__article {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1em;
    
    
}

.article_container__article > span {
    font-size: 12px;
    color: #000000a8;
    margin-top: 4px;
    max-width: 100%;
    word-wrap: break-word;
    
}
.article_container__user {
    display: flex;
    margin: 15px;
}
.user_nameAndDate {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 12px;
}
.user_nameAndDate > span:nth-child(1) {
    font-size: 18px;
}
.user_nameAndDate > span:nth-child(2) {
    font-size: 12px;
    color: #00000063;
}

/* .tags_container {
    display: flex;
} */

.article_container__title {
    display: flex;
    align-items: baseline;
}